<!doctype html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
            integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"
            integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <title>MCQ Generate</title>
        <style>
            body {
                margin: 0;
                padding: 0;
            }

            .center {
                margin: 0 auto;
                display: block;
            }

            .logo {
                height: 6%;
                width: 6%;
            }

            .foot {
                position: absolute;
                width: 100%;
                bottom: 0;
            }
        </style>
    </head>

    <body onload="typeWriter()">

        <nav class="navbar navbar-expand-lg navbar-white bg-white shadow mb-5 bg-white rounded">
            <img src="static/logo.png" alt="LOGO" class="logo">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active p-1">
                        <a class="nav-link txt_color" href="/home">Home</a>
                    </li>
                    <li class="nav-item p-1">
                        <a class="nav-link txt_color" href="/question">QNA MCQ Text</a>
                    </li>
                    <li class="nav-item p-1">
                        <a class="nav-link txt_color" href="/upload">QNA MCQ PDF</a>
                    </li>
                    <li class="nav-item p-1">
                        <a class="nav-link txt_color" href="/theory_text">QNA Theoretical Text</a>
                    </li>
                    <li class="nav-item p-1">
                        <a class="nav-link txt_color" href="/theory_PDF">QNA Theoretical PDF</a>
                    </li>
                    <li class="nav-item pl-5">
                        <form action="{{ url_for('logout') }}" method="POST">
                            <button type="submit" class="btn btn-danger">Logout</button>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container-fluid">
            <h2 id="demo" class="text-center" style="color: blue;"></h2><br><br>
            <form method="POST" action="/theory_text">
                <div class="form-group" style="margin: 0 auto; display:block;">
                    <h4 for="data" class="center text-center">Insert the Text(English Only, 1000 words ) </h4><br>
                    <textarea class="form-control center" rows="13" id="data" style="max-width:60rem;"
                        name="paragraph"></textarea>
                    <div class="text-center"><small class="text-muted">Word count: <span id="charCount">0
                                Words</span></small>
                    </div>
                </div><br>
                <button type="submit" class="btn btn-primary btn-lg btn-round center">Generate</button><br><br>
            </form>


        </div>
        {{ questions|safe }}
        <br><br>
        <footer class="page-footer font-small bg-dark">
            <div class="footer-copyright text-center py-3 text-white">© 2023 Copyright:
                <a href="/" class="text-white"> QNA_Generator.com</a>
            </div>
        </footer>

        <script>
            const textArea = document.querySelector('#data');
            const charCount = document.querySelector('#charCount');
            textArea.addEventListener('input', () => {
                var data = textArea.value
                const wordRegex = /[a-zA-Z'-]+/g;

                // Match words in string and count
                const words = data.match(wordRegex);
                const wordCount = words ? words.length : 0;
                charCount.textContent = wordCount + ' Words';
            });
        </script>

        <script>
            var i = 0;
            var txt = 'Generate Theory Question through Text'; /* The text */
            var speed = 50; /* The speed/duration of the effect in milliseconds */

            function typeWriter() {
                if (i < txt.length) {
                    document.getElementById("demo").innerHTML += txt.charAt(i);
                    i++;
                    setTimeout(typeWriter, speed);
                }
            }
        </script>
        {% with messages = get_flashed_messages(with_categories = true) %}
        {% if messages %}
        {% for category, message in messages %}
        {% if category != '' or message != '' %}
        <script>
            swal('{{ message }}', {
                icon: '{{ category }}',
                buttons: false,
                timer: 3000
            });
        </script>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endwith %}


        <!-- {% for qna in qna_list %} -->
        <!-- {% endfor %} -->
        <!-- Optional JavaScript; choose one of the two! -->

        <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
            crossorigin="anonymous"></script>

        <!-- Option 2: Separate Popper and Bootstrap JS -->
        <!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    -->
    </body>

</html>